name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        # password: ${{ secrets.PASSWORD }}
        key:  ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          source ~/.nvm/nvm.sh
          cd ~/apps/ecoms
          npm i
          git pull origin master
          npm run build
          npm run start
